WHATSAPP_TOKEN=EAAVXlDDwLxMBRL4Cn6nNbeZAeInw0bGZCi8uaxG1chHW1RBMkCpqZAaim9Sp2UKjg4yQVBahJlk8DZClJHNiaPkVQZBlsXwazkpnItJpZAHghZB0yJEr3tQJZA6Q08Utnoi3e0TZAHkFZBuByaA
PHONE_NUMBER_ID=825942527277975
VERIFY_TOKEN=mayasys2024
GEMINI_API_KEY=AIzaSyDdD7Qo7u2FLQ8YmxngcrYxBuYJiPyC9yg
